<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>success!</title>
</head>

<body>
    <h1>Your analyzed text - {{purpose}} </h1>
    <hr style="border-width: 2px;border-color: rgb(255, 196, 0);">
    <br>

    <p style="  width: 850px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;">
    <pre>{{analyzed_text}}</pre>
    </p>

    </body>

</html>
