<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyzer</title>
</head>

<body>
    <h1>Your analyzed text - {{purpose}} </h1>
    <hr style="border-width: 2px;border-color: rgb(255, 196, 0);">
    <br>

    <p style="  width: 850px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;">
        {{analyzed_text}}
    </p>

    </body>

</html>